# These files were downloaded from dict.cc
# https://www1.dict.cc/translation_file_request.php?l=e&_gl=1*6u3lyx*_ga*ODExMDAwMjk3LjE3Njg1Njk0NDU.*_ga_QGHHZZFXXG*czE3NzE4ODczNTUkbzIkZzEkdDE3NzE4ODgyMTkkajU4JGwwJGgw
# Respectively: FR->EN and DE->EN
french_to_english_dict_cc.txt
german_to_english_dict_cc.txt